<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Movie Details</title>
</head>
<body>
    <h1 class="header"><b>Movie Explorer</b></h1>
    <div class="movie">
        <div id="movieheader">{{ name }}</div>
        <div id="tagline">{{ description }}</div>
        <div id="genres">Genres: {{ genres }}</div>
        <img src='https://image.tmdb.org/t/p/original{{poster}}' alt="">
        <a id="wiki" href="{{wikilink}}">Click here to see the Wikipedia page!</a>
    </div>
    

</body>
</html>